<div class="col-sm-2 col-md-4">
      <%= if product.image_url != nil 
        image_tag(product.image_url, class: "img-responsive product", height: '250', width: '320')
        end 
       %>
        <h1><%= link_to(product.name,"./"+product.id.to_s) %></h1>
        <p><%= product.description %></p>
        <p><Strong>Color: </Strong><%= product.color %>
        <p><strong>Price: </strong>$<%= product.price %></p>
</div><!-- /col -->