<p id="notice"><%= notice %></p>


<p>
  <strong><%= @product.name %></strong>
</p>
<p>
  <%= image_tag(@product.image_url, class: "img-responsive product", height: '350', width: '350') %>
</p>



<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
